@*@model IEnumerable<eljur_web.Models.Events>*@

@using eljur_web.Models

@model eljur_web.Models.IndexViewModel

@{Layout = "~/Views/Shared/_ViewStart.cshtml";}


@{
    ViewData["Title"] = "Index";

}

<link href="/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css" />

<h2>Список событий по ученикам</h2>

<table class="table">
    <tr>
        <th>Ид события</th>
        <th>Имя события</th>
        <th>Уведомления для родителей разрешены</th>
        <th>Уведомления для администрации разрешены</th>
        <th>Уведомление для родителей было отправлено</th>
        <th>Уведомления для администрации было отправлено</th>
        <th>Время события</th>
        <th>Ид ученика</th>
    </tr>
    @foreach (Events e in Model.Events)
    {
        <tr>
            <td>@e.EventId</td>
            <td>@e.EventName</td>
            <td>@e.NotifyEnable</td>
            <td>@e.NotifyEnableDirector</td>
            <td>@e.NotifyWasSend</td>
            <td>@e.NotifyWasSendDirector</td>
            <td>@e.EventTime</td>
            <td>@e.PupilIdOld</td>

        </tr>
    }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}



