@*@model IEnumerable<eljur_web.Models.Events>*@

@using eljur_web.Models

@model eljur_web.Models.IndexViewModel

@{Layout = "~/Views/Shared/_ViewStart.cshtml";}


@{
    ViewData["Title"] = "Index";

}

<link href="/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css" />

<h2>Список событий по ученикам</h2>

<table class="table">
    <tr>
        <th>Ид события</th>
        <th>Имя события</th>
        <th>Уведомления для родителей разрешены</th>
        <th>Уведомления для администрации разрешены</th>
        <th>Уведомление для родителей было отправлено</th>
        <th>Уведомление для администрации было отправлено</th>
        <th>Время события</th>
        <th>Ид пропуска ученика</th>
        <th>Ид ЭлЖур ученика</th>
        <th>ФИО</th>
        <th>Класс</th>
    </tr>
    @*@foreach (Events e in Model.Events)*@
    @foreach (var pair in Model.mapEventsPupils)
    {
    <tr>
        <td>@pair.Key.EventId</td>
        <td>@pair.Key.EventName</td>
        <td>@pair.Key.NotifyEnable</td>
        <td>@pair.Key.NotifyEnableDirector</td>
        <td>@pair.Key.NotifyWasSend</td>
        <td>@pair.Key.NotifyWasSendDirector</td>
        <td>@pair.Key.EventTime</td>
        <td>@pair.Key.PupilIdOld</td>
        <td>@pair.Value.EljurAccountId</td>
        <td>@pair.Value.FullFio</td>
        <td>@pair.Value.Clas</td>

    </tr>
    }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}



